:root {
   --maincolor:#15202B;
   --secondarycolor:#192734;

   --bordercolor:#164D56;

  --mainText:#fff;
  --mainText2:#eeeeee;

  --themeborder:#FFF;
  --previwbg:rgb(25, 39, 52, 0.8);
  --previewshadow:#111921;

  --buttoncolor:#17a2b8;
}
